<?xml version="1.0" encoding="utf-8"?>
<configuration>

<connectionStrings>
  <add name="Asphalt9Entities" 
       connectionString="metadata=res://*/Entities.Asphalt9.csdl|res://*/Entities.Asphalt9.ssdl|res://*/Entities.Asphalt9.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Asphalt9DB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>